<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">

    <div class="row">
        <div class="col-6">
            <div id="carouselProduct" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <%foundproduct.image.forEach((img, i) => { %>
                        <div class="carousel-item <%= i===0 ? 'active' : '' %>">
                        <img src="<%=img.url%>" class="d-block w-100" alt="">
                        </div>
                        <% }) %>
                    </div>
                    <% if (foundproduct.image.length > 1) { %>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProduct" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProduct" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>
    
                
            <div class="card-body">
                    <h5 class="card-title">
                        <%=foundproduct.name%>
                    </h5>
                    <p class="card-text">category: <%= foundproduct.category%>
                    </p>
                    <p class="card-text">Price: $ <%= foundproduct.price%>
                    </p>
                    <p class="card-text">description: <%= foundproduct.description%>
                    </p>
                    <p class="card-text">pick-up point / shipping from: <%= foundproduct.location%>
                    </p>
                    <p class="card-text">created by : 
                        <%if(foundproduct.author!==undefined && foundproduct.author.length>0){%>
                        <%=foundproduct.author[0].username%>
                    <%}else{%>
                        Author not found
                    <%}%>
                    </p> 
                        <a class="btn btn-primary" href="/dogGrooming">back to home page</a>
                        <% if(signedClient && foundproduct.author[0].equals(signedClient._id)){%>
                        <a class="btn btn-secondary" href="/dogGrooming/<%=foundproduct._id%>/edit">Edit</a>
                        <form action="/dogGrooming/<%=foundproduct._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                        </form>
                <%}%>
            </div>
        </div>
        
        <div class="col-6">
            <div id="showMap"></div>
            <%if(signedClient){%>
            <h2>Leave a review</h2>
            <form action="/dogGrooming/<%=foundproduct._id%>/reviews" method="POST"
                class="mb-3 validation-check" novalidate>
                <div class="mb-3">
                    <fieldset class="starability-heart">
                        <legend>Rating:</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="4" required></textarea>
                    <div class="valid-feedback">
                        looks perfect~
                    </div>
                    <div class="invalid-feedback">
                        Please fill a comment here.
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        <%}%>
            
                <% for (let r of foundproduct.review) {%>
                <div class="card mb-3">
                    <div class="card-body">
                    <p class="card-text"><%=r.author.username%></p>
                    <p class="starability-result" data-rating="<%=r.rating%>">
                        Rated: <%=r.rating%> stars
                    </p>
                    <p class="card-text">Comment : <%=r.body%></p>
                    
                    <% if(signedClient && r.author.equals(signedClient._id)){%>
                    <form action="/dogGrooming/<%=foundproduct._id%>/reviews/<%=r._id%>?_method=DELETE" method="POST">
                        <button class="btn-sm">Delete</button>
                    </form>
                    <%}%>
                    </div>
                </div>
                <%}%>
        </div>
    </div>


    <script>
        const mapToken= "<%-process.env.MAPBOX_TOKEN%>"
        const foundproduct= <%- JSON.stringify(foundproduct)%>
    </script>
    <script src="/js/showPageMap.js"></script>